<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>GeoGuessor</title>
</head>
<body>
    <nav>
        <div id="web-name">
            <h2>GeoGuessor</h2>
        </div>
        <div id="nav-right-btn-container">
            <a href="/signup" class="acc-btn">Sign Up</a>
            <a href="/login" class="acc-btn">Log In</a>
        </div>
    </nav>
    <div id="section1">
        <div id="s1-textbox">
            <p id="tag-line-1">The <strong> Ultimate Geography Challenge</strong>  Awaits!<p>
            <p id="tag-line-2">Discover, Guess, Repeat – Where Will You Land Next?</p>
            <a href="/signup" class="body-btn">Start Game <i class="bi bi-arrow-right" id="body-btn-icon"></i> </a>
        </div>
        <div id="tag-imagebox">
            <img src="../static/image/section1.png" alt="section1-image">
        </div>
    </div>
    <h3>Note: Open on PC/Laptop</h3>
    <footer>
        <div id="footer-text">
            <p>© 2024 GeoGuessor | Made with ❤️ by <a href="https://github.com/confused-soul">Md Yasir Khan</a></p>
        </div>
    </footer>
</body>
</html>